* {
  box-sizing: border-box;
  text-align: center;
  color:lightblue;
}

#container {
  margin: 50px auto;
  background-color: lavenderblush;
  border: solid lightcyan 1px;
  display: flex;
  flex-wrap: wrap;
}

/* Desktop view */
@media screen and (min-width: 992px){
  body {
    background-color: lightgray;
  }

  #container {
    height: 700px;
    max-width: 964px;
  }
}

/* Tablet view */
@media screen and (min-width: 768px) and (max-width: 991px){
  body {
    background-color: lightgreen;
  }

  #container {
    height: auto;
    max-width: 90%;
  }
}


/* Mobile view */
@media screen and (min-width: 480px) and (max-width: 767px){
  body {
    background-color: lightseagreen;
    width: auto;
  } 

  #container {
    width: 90%;
    height: auto;
  }
}
