  div {
  
    border: gray solid 1px;
    background: lightgray;
  }


    .container {
      width: 480;
      height: auto;
      overflow: hidden;
      display: flex;
      flex-flow: wrap;
      flex-direction: row;
      
    
    }
  .container1{
    overflow: hidden;
    width: 480;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
    
  }

  @media(min-width: 768px){
    .container, .container1 {
      width: 760px;
    }
  }